{% extends 'base_.html' %}
{% load static %}
{% block title %} Book Detail {% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/book-filter.css' %}" />
{% endblock %}

{% block content %}
<div class="breadcrumb-container">
  <ul class="breadcrumb">
    <li><a href="{% url 'books:home' %}" style="color: #6c5dd4">Home</a></li>
    <li><a href="{% url 'books:book-list' %}" style="color: #6c5dd4">Books</a></li>
    <li><a href="#">Book detail</a></li>
  </ul>
</div>
  <section class="book-overview">
    <div class="img">
      <img src="{{ book.cover.url }}" alt="" />
    </div>
    <div class="book-content">
      <h4>{{ book.title }}</h4>
      <div class="meta">
        <div class="review"> 
          <div class="rating">
            <span>{{ count_reated }}</span>
          </div>
          <div class="comment-like">
            <small
              ><img src="{% static 'images/comment.png' %}" alt="" /> <span>{{ count_reviews }} Reviews</span></small
            >
            <small><img src="{% static 'images/like.png' %}" alt="" /> <span>{{ count_likes }}k Likes</span></small>
          </div>
        </div>
        <div class="social-btn">
          <a href=""><i class="fa-brands fa-facebook-f"></i>Facebook</a>
          <a href=""><i class="fa-brands fa-twitter"></i>Twitter</a>
          <a href=""><i class="fa-brands fa-whatsapp"></i>Whatsapp</a>
          <a href=""><i class="fa-regular fa-envelope"></i>Email</a>
        </div>
      </div>
     <p>{{ book.description }}</p>
      <p><h5>isbn :</h5>{{ book.isbn }}</p>
      <div class="footer">
        <div class="author-detail">
          <div class="author">
            <small>Written by</small>
            <strong>
                {% for author in book.authors.all %}
                <a href="{% url 'books:book-author' author.id %}">
                    {{ author.first_name }} {{ author.last_name }}
                </a>
                {% endfor %}
            </strong>
            <small>genres</small>
            <strong>
              {% for genre in book.genre.all %}
              <a href="{% url 'books:book-genre' genre.id %}">
                <span>{{ genre.name }}</span>
              </a>
              {% endfor %}
            </strong>
          </div>
          <div class="year">
            <small>Year</small>
            <strong>{{ book.published }}</strong>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% if user.is_authenticated %}
  <div class="container mt-4">
    <div class="card-title">
      <h3>Write review</h3>
    </div>
    <form action="{% url 'books:create-review' book.id %}" method="post">
      {% csrf_token %}
      <small>body</small>
      <div class="row my-3 mt-4">{{ form.body }}</div>
      <small>rating</small>
      <div class="row my-3 mt-4">{{ form.rating }}</div>
      <small>like</small>
      <div class="row my-3 mt-4">{{ form.like_count }}</div>
      <button type="submit">save</button>
    </form>
  </div>
  {% endif %}
  <hr>
<div class="container">
  <div class="row">
    <h3>Reviews</h3>
    <div class="col-9">
        {% for review in book.reviews.all %}
            <div class="card my-2">
                <div class="card-header">
                    {{ review.user.username }} rated {{ review.rating }}
                    {% if request.user.id == review.user.id %}
                    <span>
                      <a href="{% url 'books:update-review' book.id %}">
                        <button class="btn btn-light" style="color: powderblue">update</button>
                      </a>
                    </span>
                    <span>
                      <a href="{% url 'books:delete-review' book.id %}">
                        <button class="btn btn-light" style="color: red">delete</button>
                      </a>
                    </span>
                    {% endif %}
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="#">
                            {{ review.user.username }}
                        </a>
                    </h5>
                    <p class="card-text">{{ review.body }}</p>
                    <a href="#" class="btn btn-light">Like 👍</a> <span class="fw-lighter">{{ review.like_count }} likes </span>
                </div>
            </div>
        {% empty %}
        Now review
        {% endfor %}
    </div>
</div>
</div>

{% endblock %}